
<div class="panel panel-default" ng-controller="SqlController" style="height:500px;"  >
  <div class="panel-heading">
    <h3 class="panel-title">DBRunner</h3>
  </div>
  <div>
  <div>
  	<form name = "sql-ui" ng-submit="runQuery()">
		<section>
		    <div id="one" class="fontstyle">
		      <div>
		        <a ui-sref="upsertStatement">Upsert Statements</a>
		        </div>
		         <div>
		        <a ui-sref="ddlStatement">DDL Statements</a>
		      </div>
		       <div>
		        <a ui-sref="queryView">Select Query</a>
		      </div>
		      
		    </div>
		    <div id="two" class="fontstyle">
		    	
		     
		      
		    </div>
		</section>
	</form>
				
				

  </div>
  
  </div>
</div>
