
<div class="panel panel-default" ng-controller="SqlController" style="height:700px;"  >
  <div class="panel-heading">
    <h3 class="panel-title">DBRunner</h3>
  </div>
  <div>
  <div>
  	<form name = "sql-ui" ng-submit="runQuery()">
		<section>
		    <div id="one" class="fontstyle">
		      <div>
		        <a ui-sref="upsertStatement">Upsert Statements</a>
		        </div>
		         <div>
		        <a ui-sref="ddlStatement">DDL Statements</a>
		      </div>
		       <div>
		        <a ui-sref="queryView">Select Query</a>
		      </div>
		      
		    </div>
		    <div id="two" class="fontstyle">
		    <h4>Run Select Queries</h4>
		    <div class="btn-group" role="group" aria-label="...">
									  <button type="submit" class="btn btn-primary">Run</button>
									  <button type="button" class="btn btn-default">Clear</button>
			</div>
		    	
		     
		      <div>
		      <textarea ng-model="sqlModel.sql"></textarea>
		      </div>
		      
		      				<div class="panel panel-default" width="647">
					<table class="table table-bordered table-striped table-hover" width="647">
						<thead>
							<tr>
  								<th class="bg-info" ng-repeat="col in sqlModel.queryResult.columnMeta">{{col.columnName}} ({{col.columnTypeName}})
  								</th>
						</thead>
						<tbody>
							<tr ng-repeat="row in sqlModel.queryResult.row">
								<td ng-repeat="colval in row.columnValue">{{colval}}</td>
							</tr>
						</tbody>
						</table>
		      			
		      </div>
		      
		    </div>
		</section>
	</form>
				
				

  </div>
  
  </div>
</div>
